<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>South Coins</title>
    <script src="https://unpkg.com/vue@2.3.4"></script>
</head>
<body>
    <div id="mainDiv">
        <h3>
            BTC
        </h3>
        <!-- VueJS sample
            <input v-model="firstName" type="text" />
            <input v-model="lastName" type="text" />
            <ul>
                <template v-for="item in items">
                    <li>{{ item.price }}</li>
                </template>
            </ul>
        -->
    </div>

    <script type="text/javascript">
        /* VueJS sample
            var user = {
                firstName: 'Luiz',
                lastName: 'Rodolpho',
                items: []
            }
            Vue.filter('sortPrice', function (arr) {
                return arr.sort(function(a, b){ return b.price - a.price });
            })
            var userViewModel = new Vue({
                el: '#mainDiv',
                data: user,
                methods: {
                    addItem: function (i, p) {
                        this.items.push({index: i, price: p});
                        this.items = this.sortByPrice(this.items);
                    },
                    addItems: function (arr) {
                        [].push.apply(this.items, arr);
                        this.items = this.sortByPrice(this.items);
                    },
                    sortByPrice: function(arr) {
                        return arr.sort(function(a, b){ return b.price - a.price });
                    }
                },
                computed: {
                }
            });
        */
    </script>
</body>
</html>